.App {
  text-align: center;

}

body{
  background-color: #f6f8f8;
  background-image: linear-gradient(90deg,#080008 0%, #2792e9 50%, #080008 100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.memeImg{
  width: 800px;
  height: 800px;
}

.txtmeme {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.contenedorfraces{

  display: grid;
  grid-template-areas: "ariz arce arde"
                       "ce1iz cece ce1de"
                       "ce2iz cece ce2de"
                       "abiz cece abde"
                       "abiz abce abde" ;
  align-content: space-evenly;
}

.ariz{
  grid-area: ariz;
}
.arce{
  grid-area: arce;
}
.arde{
  grid-area: arde;
}

.cece{
  grid-area: cece;
}
.ce1de{
  grid-area: ce1de;
}
.ce1iz{
  grid-area: ce1iz;
}
.ce2de{
  grid-area: ce2de;
}
.ce2iz{
  grid-area: ce2iz;
}

.abiz{
  grid-area: abiz;
}
.abce{
  grid-area: abce;
}
.abde{
  grid-area: abde;
}